.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}

.inputClass {
    margin: 10px;
    background: #003300;
    color: #999999;

}

.inputClass:focus {
    outline: none;
    border: #99ff99 solid 2px;
}

.error {
    margin: 10px;
    color: darkred;
    outline: none;
}

.button,
.count {
    margin: 10px;
}